<!--
<form action="http://localhost:3000/login" method="get" enctype="text/plain">
-->
<form action="http://localhost:3000/api/sessions/create" method="post" enctype="application/x-www-form-urlencoded" authorization = 'pepe'>
	Usuario: <input type="text" name="[usuario]user" size="25" maxlength="50"><br><br>
	Constraseña <input type="text" name="[usuario]password" size="25" maxlength="50"><br><br>
	<input type="submit" value="Enviar formulario">
</form>
